{% extends 'base/base.html' %}

{% block titulo %}
    Cadastrar Inquilinos
{% endblock %}

{% block navBar %}
    {% include 'base/cabecalho.html' %}
{% endblock %}

{% block corpo %}
    <div id="corpo">
        <h1>Cadastrar Inquilino</h1>
        <form action="" method="post" id="form" name="form">
            {% csrf_token %}
            <div id="campoEsquerdo">
                <div class="mb-3">
                    <label for="id_nome" class="form-label fw-bolder">Nome</label>
                    <input type="text" class="form-control" id="id_nome" name="nome" maxlength="50" required>
                </div>
                <div class="mb-3">
                    <label for="id_idade" class="form-label fw-bolder">Idade</label>
                    <input type="number" class="form-control" id="id_idade" name="idade" max="100" required>
                </div>
                <div class="mb-3">
                    <label for="id_sexo" class="form-label fw-bolder">Sexo</label>
                    <select class="form-select" aria-label="Default select example" name="sexo" id="id_sexo" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Transgenero">Transgênero</option>
                        <option value="Nao-Binario">Não-Binário</option>
                        <option value="Nao Informado">Prefiro não dizer</option>
                    </select>
                </div>
            </div>
            <div id="campoDireito">
                <div class="mb-3">
                    <label for="id_telefone" class="form-label fw-bolder">Telefone</label>
                    <input type="number" class="form-control" id="id_telefone" name="telefone" max="9999999999999" required>
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label fw-bolder">Email</label>
                    <input type="email" class="form-control" id="id_email" name="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">⠀</label>
                    <input class="form-control" disabled>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="reset" class="btn btn-danger">Apagar</button>
                <a href="{% url 'listarInquilinos' %}">
                    <span class="btn btn-secondary">Voltar</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}