{% extends 'base/base.html' %}

{% block titulo %}
    Cadastrar Despesas
{% endblock %}

{% block navBar %}
    {% include 'base/cabecalho.html' %}
{% endblock %}

{% block corpo %}
    <div id="corpo">
        <h1>Cadastrar Despesa</h1>
        <form action="" method="post" id="form" name="form">
            {% csrf_token %}
            <div id="campoEsquerdo">
                <div class="mb-3">
                    <label for="id_id_unidade" class="form-label fw-bolder">Id da Unidade</label>
                    <input type="number" class="form-control" id="id_id_unidade" name="id_unidade" required>
                </div>
                <div class="mb-3">
                    <label for="id_valor" class="form-label fw-bolder">Valor</label>
                    <input type="number" class="form-control" id="id_valor" name="valor" max="1000000" required>
                </div>
                <div class="mb-3">
                    <label for="id_descricao" class="form-label fw-bolder">Descrição</label>
                    <input type="text" class="form-control" id="id_descricao" name="descricao" maxlength="100" required>
                </div>
            </div>
            <div id="campoDireito">
                <div class="mb-3">
                    <label for="id_tipo_despesa" class="form-label fw-bolder">Tipo de Despesa</label>
                    <select class="form-select" aria-label="Default select example" name="tipo_despesa" id="id_tipo_despesa" required>
                        <option value="Luz">Luz</option>
                        <option value="Agua">Água</option>
                        <option value="Gas">Gás</option>
                        <option value="Manutencao">Manutenção</option>
                        <option value="Limpeza">Limpeza</option>
                        <option value="Equipamentos">Equipamentos</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_vencimento_fatura" class="form-label fw-bolder">Vencimento da Fatura</label>
                    <input type="date" class="form-control" id="id_vencimento_fatura" name="vencimento_fatura" required>
                </div>
                <div class="mb-3">
                    <label for="id_status_pagamento" class="form-label fw-bolder">Status de Pagamento</label>
                    <select class="form-select" aria-label="Default select example" name="status_pagamento" id="id_status_pagamento" required>
                        <option value="Concluido">Concluído</option>
                        <option value="Nao Concluido">Não Concluído</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="reset" class="btn btn-danger">Apagar</button>
                <a href="{% url 'listarDespesas' %}">
                    <span class="btn btn-secondary">Voltar</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}